<div class="bootstrap-fs-modal">
    <div class="modal modal-fullscreen" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'partials/login.html' %}
                    <p align="center">
                        <small>Need to create an account? <a href="javascript://" class="toggle-login-signup" data-parent_modal="loginModal">Sign up &raquo;</a></small>
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="modal modal-fullscreen" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="signupModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'partials/signup.html' %}
                    <p align="center">
                        <small>Already have an account? <a href="javascript://" class="toggle-login-signup" data-parent_modal="signupModal">Sign in &raquo;</a></small>
                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% if messages %}

    <div class="modal modal-fullscreen" tabindex="-1" role="dialog" id="messageModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                    {% for message in messages %}
                        {% if forloop.first %}
                            <h3>{{ message|safe }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% else %}
                        <span class="{{ message.tags }}">{{ message|safe }} </span>
                        {% endif %}
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
