include LICENSE
include README.md
recursive-include mailchimp_auth/static *
recursive-include mailchimp_auth/templates *
recursive-include mailchimp_auth/jinja2 *
recursive-include mailchimp_auth/migrations *
