<h3>Sign in</h3>
<p>Enter your email below to verify that you've already subscribed to Better Government Association mailing list.</p>

<p>If you encounter problems logging in, be sure to check your email’s spam folder for activation messages from <strong>no-reply@bettergov.org</strong>. If you still can’t access the database, please contact our <a href="https://www.bettergov.org/team/jared-rutecki" target="_blank">Data Coordinator</a>.</p>

<p><small>Note: If you previously created a login to the Public Salaries Database, or if you subscribed to the BGA mailing list on another BGA Data & Tools site, you can use that email address to sign in.</small></p>

<form class="form" id="login-form" method="POST" action="{{ url('mailchimp_auth:login') }}">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
    <input type="hidden" value="{{ request.get_full_path() }}" name="next" />
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
        <small class="form-errors" id="email-errors"></small>
    </div>
    <div class="form-group">
      <input type="hidden" name="address" value="" />
    </div>
    <div class="form-group text-center">
        <button class="btn" id="submit-login">Submit</button>
    </div>
</form>
